body {
  background: rgb(56, 39, 39);
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  height: 100vh;
  /* padding: auto; */
}

.tema-claro {
  background-color: #f4dbcd;
  color: black;
}

.tema-claro h1 {
  color: #705555;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: flex;
  width: 3.5em;
  height: 2em;
  margin: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid rgb(157, 137, 127);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
  border: 2px solid #f17509;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  /* margin: 2rem auto auto; */
}
h1 {
  color: rgb(239, 143, 83);
  font-size: 30px;
  letter-spacing: .3rem;
  margin: 0;
}
.ocultar {
  display: none;
}
section {
  display: flex;
  flex-direction: column;
}
#sectionCalcular {
  align-items: center;
}
.contadorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.divsPessoas {
  display: flex;
  flex-direction: column;
  background: rgb(201, 177, 165);
  padding: 8px;
  border-radius: 8px;
  border-width: 3px;
  border-style:solid;
  border-color: rgb(157, 137, 127);
  display: flex;
  align-items: center;
  width: 195px;
  margin: 0.5rem;
}
.divsPessoas h2 {
  font-size: 14px;
  color: black;
}
.divsPessoas p {
  color: rgb(173, 113, 76);
  font-size: 24px;
  margin: 8px;
}

.wrapperButtonsCalcular {
  display: flex;
  flex-direction: row;
}
.buttonsPessoas {
  background: rgb(173, 113, 76);
  color: white;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 1rem;
}
#sectionFormulario p{
  text-align: center;
}
#formCadastrar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.inputCadastro {
  background: rgb(201, 177, 165);
  padding: 1rem;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(157, 137, 127);
  display: flex;
  width: 300px;
  margin: 1rem;
}
#labelCheck {
  margin: 2rem auto;
  font-size: 12px;
}

.buttonsRed {
  background: rgb(223, 99, 50);
  padding: 8px 24px;
  border-radius: 8px;
  border-style: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0.5rem;
  cursor: pointer;
}
.wrapperButtonsCadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blackButton {
  background-color: transparent;
  padding: 8px;
  color: rgb(157, 137, 127);
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}
#sectionTabela {
  align-items: center;
}
#resultadoConvidados{
  color: rgb(223, 99, 50);
  margin: auto;
}
.resultadoPessoas{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;

}
table {
  background: rgb(201, 177, 165);
  color: rgb(56, 39, 39);
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: rgb(157, 137, 127);
  padding: 8px;
  margin: 1rem auto;
}
tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: rgb(157, 137, 127);
  line-height: 2.5;
}
.tdBold {
  font-weight: bold;
}
footer{
  font-size: 12px;
}
@media (max-width: 975px) {
  .contadorWrapper {
    flex-wrap: wrap;
  }
}
