body {
  background: rgb(56, 39, 39);
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  height: 100vh;
  /* padding: auto; */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  /* margin: 2rem auto auto; */
}
h1 {
  color: rgb(239, 143, 83);
  font-size: 30px;
  letter-spacing: .3rem;
  margin: 0;
}
.ocultar {
  display: none;
}
section {
  display: flex;
  flex-direction: column;
}
#sectionCalcular {
  align-items: center;
}
.contadorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.divsPessoas {
  display: flex;
  flex-direction: column;
  background: rgb(201, 177, 165);
  padding: 8px;
  border-radius: 8px;
  border-width: 3px;
  border-style:solid;
  border-color: rgb(157, 137, 127);
  display: flex;
  align-items: center;
  width: 195px;
  margin: 0.5rem;
}
.divsPessoas h2 {
  font-size: 14px;
  color: black;
}
.divsPessoas p {
  color: rgb(173, 113, 76);
  font-size: 24px;
  margin: 8px;
}

.wrapperButtonsCalcular {
  display: flex;
  flex-direction: row;
}
.buttonsPessoas {
  background: rgb(173, 113, 76);
  color: white;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 1rem;
}
#sectionFormulario p{
  text-align: center;
}
#formCadastrar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.inputCadastro {
  background: rgb(201, 177, 165);
  padding: 1rem;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(157, 137, 127);
  display: flex;
  width: 300px;
  margin: 1rem;
}
#labelCheck {
  margin: 2rem auto;
  font-size: 12px;
}

.buttonsRed {
  background: rgb(223, 99, 50);
  padding: 8px 24px;
  border-radius: 8px;
  border-style: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0.5rem;
  cursor: pointer;
}
.wrapperButtonsCadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blackButton {
  background-color: transparent;
  padding: 8px;
  color: rgb(157, 137, 127);
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}
#sectionTabela {
  align-items: center;
}
#resultadoConvidados{
  color: rgb(223, 99, 50);
  margin: auto;
}
.resultadoPessoas{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;

}
table {
  background: rgb(201, 177, 165);
  color: rgb(56, 39, 39);
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: rgb(157, 137, 127);
  padding: 8px;
  margin: 1rem auto;
}
tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: rgb(157, 137, 127);
  line-height: 2.5;
}
.tdBold {
  font-weight: bold;
}
footer{
  font-size: 12px;
}
@media (max-width: 975px) {
  .contadorWrapper {
    flex-wrap: wrap;
  }
}
