body {
  background: rgb(60, 51, 57);
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto auto;
}
h1 {
  color: rgb(239, 143, 83);
  font-size: 32px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contadorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.divsPessoas {
  display: flex;
  flex-direction: column;
  background: rgb(201, 177, 165);
  padding: 8px;
  border-radius: 8px;
  border-width: 3px;
  border-style:solid;
  border-color: rgb(157, 137, 127);
  display: flex;
  align-items: center;
  width: 195px;
  margin: 0.5rem;
}
.divsPessoas h2 {
  font-size: 14px;
  color: black;
}
.divsPessoas p {
  color: rgb(173, 113, 76);
  font-size: 24px;
  margin: 8px;
}

.wrapperButtonsCalcular {
  display: flex;
  flex-direction: row;
}
.buttonsPessoas {
  background: rgb(173, 113, 76);
  color: white;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 1rem;
}

#formCadastrar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.inputCadastro {
  background: rgb(201, 177, 165);
  padding: 8px;
  border-radius: 8px;
  border-width: 3px;
  border-style:solid;
  border-color: rgb(157, 137, 127);
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0.5rem;
}

.buttonsRed {
  background: rgb(223, 99, 50);
  padding: 8px 24px;
  border-radius: 8px;
  border-style: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0.5rem;
  cursor: pointer;
}
.blackButton {
  background-color: transparent;
  padding: 8px;
  color: black;
  border-style: none;
  cursor: pointer;
}
footer{
  /* margin-bottom: 0; */
  /* margin: auto; */
  font-size: 12px;
}

@media (max-width: 975px) {
  .contadorWrapper {
    flex-wrap: wrap;
  }
}